# =========================
# MODE
# =========================
ENV=local

# =========================
# LOCAL DATABASE
# =========================
LOCAL_DB_URL=postgresql://USER:PASSWORD@localhost:5432/marec_hr360

# =========================
# CLOUD DATABASE
# =========================
CLOUD_DB_URL=postgresql://USER:PASSWORD@HOST:PORT/DATABASE

# =========================
# DEBUG
# =========================
DEBUG=True