# =========================
# ENVIRONMENT MODE
# =========================
# local  = use LOCAL_DB_URL
# cloud  = use CLOUD_DB_URL (Supabase)
ENV=local

# =========================
# LOCAL POSTGRES (your machine)
# =========================
LOCAL_DB_URL=postgresql://postgres:password@localhost:5432/hr360

# =========================
# SUPABASE CLOUD DATABASE
# =========================
CLOUD_DB_URL=postgresql://postgres:<PASSWORD>@db.<PROJECT_ID>.supabase.co:5432/postgres
