# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# =========================
# ENVIRONMENT FILES
# =========================
.env
.env.*
!.env.example

# =========================
# EDITOR / OS FILES
# =========================
.vscode/
.idea/
.DS_Store

# =========================
# BUILD / CACHE
# =========================
dist/
build/
*.egg-info/

# =========================
# UPLOADS / TEMP FILES
# =========================
uploads/
temp/
